<%= f.input :title, label_html: { class: 'active' } %>
<%= f.input :blurb, include_blank: true %>
<%= f.input :description, include_blank: true %>
<%= f.label :picture%><br>
<%= f.file_field :picture %>
<%= f.input :link %>
<label>
  <%= f.check_box :featured %>
  <span>Featured?</span>
</label>
<br>
<label>
  <%= f.check_box :active %>
  <span>Active?</span>
</label>